
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* into part style starts here */

.starting {
    width:100%;
    height: 650px;
    background-image: url('/assets/Hero-bg.png');
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px dashed  slategrey;
    border-bottom: 5px dashed  slategrey;



}

.intro-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#first-h1{
    font-size:40px;
    font-weight: 1000;
    text-align: center;
}


#first-p{
    font-size: 16px;
    font-weight: 400;
    opacity:0.7;
    text-align: center;
}

#btn-style{
    background-color: black;
    color: beige;
    margin-top:150px;
    positon:center;
    width:130px;
    height: 50px;
    border-radius: 8px;

}

/* web-development-section style starts here */

.web-development {     
    width:1140px;
    height: 1395px;
    margin: 0 auto;
    padding: 80px 97px;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.web-development-container{

}

.web-development-1{

}

#second-h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#second-p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    opacity:0.7;
}

.web-development-2{
    background-color:aliceblue ;
    width: 946px;
    height: 336px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    padding:48px;

}

.do-coding-1{
    
    
}

.first-h3{
    font-size:25px ;
    font-weight: 600;
}

.third-p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.btn-1{
    width:150px;
    height: 48px;
    font-size: medium;
    font-weight: 400;
    margin-top: 100px;
}

.web-development-3{
    background-color:aliceblue;
    width: 946px;
    height: 336px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    padding:48px;

}


.web-development-4{
    background-color:aliceblue;
    width: 946px;
    height: 336px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    padding:48px;
}


/* my-inspiration section style starts here */

.my-inspiration-container{
    width: 1250px;
    height: 800px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:88px;
}

.my-inspiration-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.third-h1{
    font-size: 70;
    font-weight: 800;
    text-align: center;

}

.fourth-p{
    color:rgb(13, 19, 33);
    font-size: 20px;
    font: 400;
    text-align: center;
    opacity: 0.7;
    
}

.my-inspiration-youtube-link{
    width:1140px;
    height:604px;
    border:2px solid  rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding:16px;
    margin-top: 15px;
}
